.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.button-box a,
.button-box form {
  padding-right: 15px;
  color: #666666;
  align-items: center;
  display: flex;
}

.add {
  position: absolute;
  right: 150px;
  top: 8px;
  font-size: 18px;
  border: 1px solid #4592af;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.add:hover {
  color: white;
  background-color: #4592af;
}
.add > a {
  color: #4592af;
  padding: 5px 10px;
}

.add > a:hover {
  color: white;
  text-decoration: none;
}

.search-bar-inner > .dropdown {
  display: flex;
  justify-content: flex-end;
}

.dropdown-toggle {
  width: 200px;
}

@media screen and (max-width: 992px) {
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}
